body{
	width: 100%;
	height: 100%;
	background: #F2F4F4;
	position: relative;
	overflow: hidden;
}
header{
	width: 100%;
	height: .88rem;
	background: #171717;
	position: fixed;
	top: 0;
	left: 0;
	padding-top: .12rem;
	box-sizing: border-box;
	z-index: 1000;
}
header > a:first-of-type{
	width: .72rem;
	height: .72rem;
	background-image: url(../img/wxx/xx-learn_t_02.png);
	display: block;
	float: left;
	background-size: 100%;
}
header > a:nth-of-type(2){
	width: .72rem;
	height: .72rem;
	background-image: url(../img/wxx/xx-learn_t_07.png);
	display: block;
	float: right;
	background-size: 100%;
}
header > a:nth-of-type(3){
	width: .72rem;
	height: .72rem;
	background-image: url(../img/wxx/xx-learn_t_06.png);
	display: block;
	float: right;
	background-size: 100%;
}
header > img{
	width: 1.78rem;
	height: .72rem;
	display: block;
	float: left;
	margin-left: 1.96rem;
}
.xx-zhe{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
}
.xx-slip{
	width: 6.2rem;
	height: 100%;
	background: #f2f4f4;
	margin-top: -.2rem;
	position: absolute;
	top: 0;
	left: 100%;
}
.xx-img{
	width: 5.72rem;
	height: 2.88rem;
	padding-top: .88rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.xx-img > img{
	width: 2.8rem;
	height: .89rem;
}
.xx-slip > img{
	width: 6.2rem;
}
.xx-blank{
	width: 100%;
	height: .88rem;
	margin-bottom: .2rem;
}
.xx-img + div{
	width: 6.2rem;
	height: 3.55rem;
	background-image: url(../img/wxx/xx-learn25.png);
	background-size: 7rem;
	background-position: bottom;
	margin-top: .48rem;
}
.sc-play {
  width: 7.02rem;
  height: 3.15rem;
  background: #fff;
  border-radius: 0.3rem;
  margin-top: .12rem;
  margin-left: 0.24rem;
  margin-right: 0.24rem; }
  .sc-play .play-top {
    width: auto;
    height: 0.9rem;
    padding-left: 0.24rem;
    padding-right: 0.24rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .sc-play .play-top a {
      width: 0.57rem;
      height: 0.57rem;
      display: block;
      background: url("../img/sc/57.png") no-repeat;
      background-size: .59rem;
      background-size: cover; }
    #head_two{
    	background: url("../img/wxx/xx-learn_t_12.png") no-repeat;
    	background-size: .59rem;
    }
    #head_three{
    	background: url("../img/wxx/xx-learn_t_22.png") no-repeat;
    	background-size: .59rem;
    }
    #head_four{
    	background: url("../img/wxx/xx-learn_t_31.png") no-repeat;
    	background-size: .59rem;
    }
    #content_two{
    	background: url("../img/wxx/xx-learn_t_16.png") no-repeat;
    	background-size: 2.92rem;
    }
    #content_three{
    	background: url("../img/wxx/xx-learn_t_26.png") no-repeat;
    	background-size: 2.92rem;
    }
    #content_four{
    	background: url("../img/wxx/xx-learn_t_43.png") no-repeat;
    	background-size: 2.92rem;
    }
    .sc-play .play-top .play-right {
      width: 5.8rem;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .sc-play .play-top .play-right .left-left {
        width: 3.4rem;
        height: 0.7rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center; }
        .sc-play .play-top .play-right .left-left p {
          font-size: 0.24rem;
          color: #6a6a6a; }
        .sc-play .play-top .play-right .left-left .xian {
          width: 0.84rem;
          height: 0.03rem;
          background: url("../img/sc/84.png") no-repeat;
          background-size: cover; }
      .sc-play .play-top .play-right .left-right {
        width: 1.5rem;
        height: 0.7rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around; }
        .sc-play .play-top .play-right .left-right .tu {
          width: 0.88rem;
          height: 0.26rem;
          background: url("../img/sc/88.png") no-repeat;
          background-size: cover; }
        .sc-play .play-top .play-right .left-right .zan {
          width: 1.5rem;
          height: 0.2rem;
          display: flex;
          justify-content: space-between; }
          .sc-play .play-top .play-right .left-right .zan .zan1 {
            width: 0.7rem;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center; }
            .sc-play .play-top .play-right .left-right .zan .zan1 a {
              display: block;
              width: 0.15rem;
              height: 0.11rem;
              background: url("../img/sc/xin.png") no-repeat;
              background-size: cover; }
            .sc-play .play-top .play-right .left-right .zan .zan1 span {
              color: #909aa9;
              font-size: 0.16rem; }
          .sc-play .play-top .play-right .left-right .zan .zan2 {
            width: 0.7rem;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center; }
            .sc-play .play-top .play-right .left-right .zan .zan2 a {
              display: block;
              width: 0.13rem;
              height: 0.13rem;
              background: url("../img/sc/dian.png") no-repeat;
              background-size: cover; }
            .sc-play .play-top .play-right .left-right .zan .zan2 span {
              color: #909aa9;
              font-size: 0.16rem; }
  .sc-play .xian {
    width: 100%;
    height: 0.02rem;
    background: #f1f5f5;
    position: relative; }
    .sc-play .xian .left {
      width: 0.18rem;
      height: 0.18rem;
      border-radius: 50%;
      background: #f1f5f5;
      position: absolute;
      left: -9px;
      top: -9px; }
    .sc-play .xian .right {
      width: 0.18rem;
      height: 0.18rem;
      border-radius: 50%;
      background: #f1f5f5;
      position: absolute;
      right: -9px;
      top: -9px; }
  .sc-play .play-center {
  	display: block;
    width: auto;
    padding-left: 0.24rem;
    padding-right: 0.24rem;
    margin-top: 0.19rem;
    display: flex;
    justify-content: space-between; }
    .sc-play .play-center .tu {
      width: 3.01rem;
      height: 1.86rem;
      background: url("../img/sc/301.png") no-repeat;
      background-size: cover; }
    .sc-play .play-center .zi {
      width: 3.45rem;
      height: 1.86rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .sc-play .play-center .zi .zi-1 {
        width: 2.9rem;
        height: 0.45rem;
        display: flex;
        justify-content: space-between; }
        .sc-play .play-center .zi .zi-1 span {
          font-size: 0.27rem;
          color: #232F3B; }
        .sc-play .play-center .zi .zi-1 .youxi {
          font-size: 0.3rem; }
      .sc-play .play-center .zi .xian1 {
        width: 2.9rem;
        height: 0.02rem;
        border-bottom: 0.02rem dashed #f1f5f5; }
      .sc-play .play-center .zi p {
        font-size: 0.3rem;
        color: #232F3B; }
      .sc-play .play-center .zi .xian2 {
        width: 3.25rem;
        height: 0.02rem;
        background: #f1f5f5; }
      .sc-play .play-center .zi .spans {
        width: 3.25rem;
        height: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .sc-play .play-center .zi .spans a {
          display: block;
          width: 0.9rem;
          height: 0.43rem;
          background: url("../img/sc/90.png") no-repeat;
          background-size: cover; }
        .sc-play .play-center .zi .spans span {
          color: #717F8E;
          font-size: 0.22rem;
          margin-left: -0.6rem; }
        .sc-play .play-center .zi .spans .jiacu {
          font-weight: 600;
          color: #ED2949;
          font-size: 0.25rem;
          margin: 0; }
section{
	width: 100%;
	height: .5rem;
	text-align: center;
	line-height: .5rem;
	font-size: .24rem;
	color: #dcdcdc;
}
